<h1>Welcome to Instagram Project 🚀</h1>
<p>Manage Posts, Comments, Likes with EJS UI</p>

<div class="actions">
  <a class="btn" href="/login">Login</a>
  <a class="btn" href="/register">Register</a>
</div>
