<h1>Login</h1>
<form action="/api/user/login" method="POST" class="form-box">
  <label>Username:</label>
  <input type="text" name="userName" required />

  <label>Password:</label>
  <input type="password" name="password" required />

  <button type="submit">Login</button>
</form>

<% if (message) { %>
  <p style="color: green;"><%= message %></p>
<% } %>

<p>Don't have an account? <a href="/register">Register here</a></p>
