<h1>Login</h1>
<form action="/login" method="POST" class="form-box">
  <label>Email:</label>
  <input type="email" name="email" required />

  <label>Password:</label>
  <input type="password" name="password" required />

  <button type="submit">Login</button>
  <p>Don’t have an account? <a href="/register">Register here</a></p>
</form>
