
<h1>Register</h1>
<form action="/api/user/register" method="POST" class="form-box">

  <label>Full Name:</label>
  <input type="text" name="name" required />

  <label>Username:</label>
  <input type="text" name="userName" required />

  <label>Password:</label>
  <input type="password" name="password" required />

  <button type="submit">Register</button>
</form>

<% if (message) { %>
  <p style="color: green;"><%= message %></p>
<% } %>

<p>Already have an account? <a href="/login">Login here</a></p>
