<h1>Register</h1>
<form action="/api/user/register" method="POST" class="form-box">
  <label>Username:</label>
  <input type="text" name="username" required />

  <label>Email:</label>
  <input type="email" name="email" required />

  <label>Password:</label>
  <input type="password" name="password" required />

  <button type="submit">Register</button>
  <p>Already have an account? <a href="/login">Login here</a></p>
</form>
