<% layout("layouts/main") %>
<h2>All Posts</h2>

<a href="/posts/create">+ Create New Post</a>

<ul>
  <% posts.forEach(post => { %>
    <li>
      <a href="/posts/<%= post._id %>"><%= post.title %></a>
      <small>by <%= post.userId.username %></small>
    </li>
  <% }) %>
</ul>
